.random-message-container {
  position: relative;
  height: 470px;
  width: 920px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  overflow: hidden;

}
.random-message-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background:
    linear-gradient(0deg, rgba(19,19,39, 1) 5%, rgba(0,0,0,0) 100%);
}
.random-messsage {
  font-size: 30px;
  padding: 15px 30px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.random-messsage:first-of-type {
  font-size: 40px;
  transition: all 0.5s;
}
.rm-ok {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.rm-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.rm-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
