body {
  height: 100vh;
  overflow: hidden;
}
div { padding: 2px; }
input#event { width: 100%; }
label { font-size: 20px; }
textarea#data { font-size: 20px; height: 300px;}
button#send { width: 100%; }
#messages{ font-size: 12px; }
